
// ASSETS ---------------------------------------

// FONTS 

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);

$main-font: 'Source Sans Pro', sans-serif;


// COLOR SECTION


// Background Colours
$main-background: rgb(46,204,113); // GREEN 
$maintenance-background: rgb(241,196,15); // YELLOW 
$cleaning-background: rgb(231,76,60); // RED 
$toolbox-background: rgb(52,152,219); // BLUE 

// Font Colours
$main-color: #ecf0f1; // CLOUD WHITE
$secondary-color: #2c3e50; // MIDNIGHT BLUE